image: rust:1.44-slim

stages:
- test
- coverage

.template: &prepare
  before_script:
  - apt update
  - rustup override set nightly-2020-10-20

debug:
  <<: *prepare
  stage: test
  script:
  - cargo build
  - cargo test --all --all-features

clippy:
  <<: *prepare
  stage: test
  script:
  - rustup component add clippy
  - cargo clippy --all-targets --all-features -- -D warnings

fmt:
  <<: *prepare
  stage: test
  script:
  - rustup component add rustfmt
  - cargo fmt -- --check

coverage:
  <<: *prepare
  stage: coverage
  script:
  - apt install -y --no-install-recommends pkg-config libssl-dev
  - cargo install cargo-tarpaulin
  - cargo tarpaulin -v --all-features --force-clean --offline
  only:
  - master
